<h1>Favorites</h1>

<div class="fav-list">

    {{#each favorites}}
        <div class="fav-item">
            <a href="{{this.nasa_url}}">
                <img class="fav-image" src="{{this.nasa_url}}">
            </a>

            <span class="fav-title">{{this.title}}</span>
            <span class="fav-data">{{this.date}}</span>

        </div>

    {{else}}
        <p>No favorites added yet.</p>
    {{/each}}

</div>

