<h1>{{apod.title}}</h1>

{{#if apod.is_image}}
    <img src="{{apod.url}}">

{{else}}

    <p>This picture is a video or other media type. Please <a href="{{apod.nasa_url}}">click here</a></p>

{{/if}}


<p>{{apod.credit}}</p>
<p>{{apod.explanation}}</p>
<p>This is NASA's picture of the dau for {{apod.date}}.</p>
<p><a href="{{apod.nasa_url}}">See this image on NASA's website.</a></p>
